label{
	text-transform: uppercase;
}
h2{
	color: green;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 28px;
}
.photo{
	padding-left: 150px;
}
h1{
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
}
h3{
	font-weight: bold;
	font-size: 25;
	text-decoration: overline;
	color: white;
	text-align: center;
}
p{
	font-size:20px;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:serif;
}
a{
	color: green;
	font-size: 13px;
	text-decoration: none;
}
a:hover{
	color: green;
	text-decoration: underline;
	margin: 3px;
}